* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #f8f9fa, #e3e7ed);
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #354f70;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav h1 {
  font-size: 2rem;
}

.container {
  padding: 3rem;
  flex-grow: 1;


}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}


.flag-box {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: 600px;
  height: 50vh;
  opacity: 0;
  animation-duration: 7s; 
  animation-fill-mode: forwards;
  animation: wave 3s infinite ;
  transform-origin: left center;
  animation-name: slidefromleft;
}

.flag-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 0rem;
  width: 550px;
  height: 41vh;
}

@keyframes slidefromleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.clock-box {
  background-color: white;
  border-radius: 12px;
  padding: 2.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: 750px;
  height: 50vh;
  padding-top: 2.8rem;
  opacity: 0;
  animation-duration: 7s; 
  animation-fill-mode: forwards;
  animation: wave 3s infinite ;
  transform-origin: left center;
  animation-name: slideFromRight;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 4.5rem;
  /* letter-spacing: 10px; */
  margin-bottom: 0.3rem;
}


@keyframes slideFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.btn {
  padding: 1.7rem 4.4em;
  background-color: #354f70;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 40px;
  margin-top: 30px;
}

.btn:hover {
  background-color: #2c3e50;
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.country-details {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  padding-bottom: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  grid-column-start: 1;
  grid-column-end: 3;
  opacity: 0;
  animation-duration: 7s; 
  animation-fill-mode: forwards;
  animation: wave 3s infinite ;
  transform-origin: left center;
  animation-name: slidefromleft;
}

.country-details h2 {
  margin-bottom: 1rem;
  color: #354f70;
}


footer {
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: auto;
}


@media (max-width: 768px) {
  .top-section {
    grid-template-columns: 1fr;
  }
}